.THIS.ex2 {
 width: 100%; 
    height: 500px;
   left:80px; top:300px; background-color:yellow;
  margin: auto;

  color: White;
 background-color:	#161120;
      font-size: 30px;
      font-family: "Times New Roman", Times, serif;
     font-weight:    bold;
     text-align:center
        
}

.THIS.ex3 {
width: 50%; 
    height: -200px;
         margin: 350px 15px;
  margin: auto;

  color: White;
 background-color:	maroon;
      font-size: 30px;
      font-family: "Times New Roman", Times, serif;
     font-weight:    bold;
     text-align:center
    
}

.THIS.ex2.myBtn  {
    width: 100px;
}
.THIS.mystles{
         background-color: orange;
    }